<!DOCTYPE html>
<html lang="it">
  <head>
    <title>
      Verifica analisi meteo
    </title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Verifica analisi meteo</h1>
    <hr/>
    <table>
      <tr>
        <td>Id</td>
        <td>{{ w17verifca_data.id_w17verifica }}</td>
      </tr>
      <tr>
        <td>Data analisi</td>
        <td>{{ w17verifca_data.data_analysis }}</td>
      </tr>
      <tr>
        <td>Stato</td>
        <td>{{ w17verifca_data.status }}</td>
      </tr>
      <tr>
        <td>Data emissione</td>
        <td>{{ w17verifca_data.data_emissione }}</td>
      </tr>
      <tr>
        <td>Ultima modifica</td>
        <td>{{ w17verifca_data.last_update }}</td>
      </tr>
      <tr>
        <td>Autore</td>
        <td>{{ w17verifca_data.username }}</td>
      </tr>
    </table>
    <hr/>
  </body>
</html>
