.nav-link {cursor: pointer;}

.offset {
    padding-top: 145px; 
    margin-top: -125px!important;
}

th {
    white-space: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.sticky-top {
    z-index: 100;
}