<!DOCTYPE html>
<html lang="it">
  <head>
    <title>
      Bollettino Verifica Allerta
    </title>
    <meta charset="utf-8" />
  </head>
  <body>
    <h1>Bollettino Verifica Allerta</h1>
    <hr/>
    <table>
      <tr>
        <td>Id</td>
        <td>{{ verificaallerta.id_w23verifica }}</td>
      </tr>
      <tr>
        <td>Num</td>
        <td>{{ verificaallerta.id_w23 }}</td>
      </tr>
      <tr>
        <td>Stato</td>
        <td>{{ verificaallerta.status }}</td>
      </tr>
      <tr>
        <td>Data emissione</td>
        <td>{{ verificaallerta.data_emissione }}</td>
      </tr>
      <tr>
        <td>Ultima modifica</td>
        <td>{{ verificaallerta.last_update }}</td>
      </tr>
      <tr>
        <td>Autore</td>
        <td>{{ verificaallerta.username }}</td>
      </tr>
    </table>
    <hr/>
  </body>
</html>
